<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Edit Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit Users</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let user of users"><ion-item color = "medium">
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src={{user.avatar}} />
    </ion-avatar>
    <ion-label color="dark">
      {{user.first_name}} {{user.last_name}}
      <p >{{user.email}}</p>
    </ion-label>
   <ion-button color = "dark" (click)="updateuser(user.id)"> <ion-icon name="create"></ion-icon></ion-button>
  </ion-item></ion-list>
</ion-content>
